{% extends 'main.html' %}

{% block content %}
<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<!-- <h1>Home Page</h1> -->

<div class="home-container">

    <div>
        
        {% include 'base/category_feed.html' %}

    </div>

    <div>
        <h5>{{job_count}} Jobs Available</h5>
        <a href="{%url 'add-job' %}">Create a Job Listing</a>
        <hr>
    <div>
        {% include 'base/main_feed.html' %}
    </div>

    <div>
        {% include 'base/activity_feed.html' %}
    </div>

    
</div>


{% endblock %}