{% extends 'main.html' %}

{% block content %}
<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<!-- <h1>Home Page</h1> -->

<div class="home-container">

    <div>
        <h3>Browse Categories</h3>
        <hr>

        <div>
            <a href="{% url 'HomePage'%}">All</a>
            <!-- <hr> -->
        </div>

        {% for cat in category%}
        <div>
            <a href="{% url 'HomePage'%}?q={{cat.category}}">{{cat.category}}</a>
            <!-- <hr> -->
        </div>
        {% endfor %}
        
    </div>

    <div>
        <h5>{{job_count}} Jobs Available</h5>
        <a href="{%url 'add-job' %}">Create a Job Listing</a>
        <hr>
    <div>
        {% for job in jobs %}
        <span>@{{ job.posted_by.username }}</span>
        <div>
            <a href="{% url 'update-job' job.id %}">Edit</a>
            <a href="{% url 'delete-job' job.id%}">Delete</a>
        </div>
        <h5>{{job.id}} - <a href="{% url 'Job' job.id %}">{{job.title}}</a></h5>
        <!-- <p>{{job.description}}</p> -->
        <p>{{ job.category.category }}</p>
        <hr>
        {% endfor %}
    </div>

    </div>
    
</div>


{% endblock %}